 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Public+Sans:wght@300&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
     background-color: #D8BFD8;
     color: #FFD700;
 }

 h1 {
     position: absolute;
     text-align: center;
     left: 0;
     width: 100%;
     padding-top: 10px;
 }

 #backgroundimage {
     background: url('../images/bench.jpg') no-repeat center center;
     width: 100%;
     height: 100vh;
     padding: 30px 10px 20px;
 }

 #cover-text {
     background-color: rgb(0, 0, 0, 0.3);
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
 }

 #generate-quote {
    background-color: rgb(216, 191, 216, 0.4);
        color: #FFD700;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border-radius: 5px;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
 }